<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MotoRepMobileApp">

        <!-- Pantalla principal -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".ui.encuesta.activity_loginencuesta"
            android:exported="false" />

        <!-- Pantalla de encuesta -->
        <activity
            android:name=".ui.encuesta.EncuestaActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <!-- Pantalla de Login -->
        <activity
            android:name=".ui.login.activity_login"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <!-- Dashboard -->
        <activity
            android:name=".ui.dashboard.activity_dashboard"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ui.operacional.catalogos.activity_clientes"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.operacional.catalogos.activity_empleados"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.operacional.movimientos.activity_compras"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.operacional.movimientos.activity_facturacion"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.operacional.catalogos.activity_inventario"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.operacional.movimientos.activity_caja"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.reportes.activity_incidencias"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.reportes.activity_tendencias"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.reportes.activity_indicadores"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.configuracion.activity_configuracion"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.miscelanea.activity_notificaciones"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

    </application>

</manifest>